---
import Welcome from '../components/Welcome.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
		<Navigation />
			<main>
				<!-- jumbotron -->
				<section class="relative flex justify-center">
					<img class="w-full h-[700px] object-cover" src="/src/assets/hero-test.jpg" alt="Image of Sunshine Landscaping Plus LLC Henry Diaz.">
				</section>
				
				<section class="flex flex-col justify-center items-center">
					<h1>Services</h1>
					<div class="flex relative justify-center items-center max-w-5xl w-full gap-80 mx-auto">
						<div class="absolute left-0">
							Lawncare
						</div>
						<div>
							Lot Clean Ups
						</div>
						<div class="absolute right-0">
							Tree Trimming
						</div>
					</div>
				</section>
				
			</main>
		<Footer />
</Layout>
