---
import Welcome from "../components/Welcome.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Navigation />
  <main>
    <!-- Jumbotron Hero Section -->
    <section class="relative flex justify-center">
      <div
        class="absolute inset-0 bg-gradient-to-t from-transparent to-black  opacity-70 z-2"
      >
      </div>
      <img
        class="w-full h-[500px] md:h-[700px] object-cover"
        src="assets/hero6.png"
        alt="Image of Sunshine Landscaping Plus LLC Henry Diaz."
      />
      <div class="absolute top-28 sm:top-32 md:top-48 z-20 text-center text-white px-4 md:px-0">
        <h1 class="text-5xl md:text-6xl font-bold mb-4 text-shadow-2xl">Your Lawn, Our Pride</h1>
        <p class="text-xl mb-3 font-medium">Shine Brighter with Sunshine!</p>
        <p class="text-lg mb-8 font-medium">
          Professional Landscaping and Lawn Care Services Tailored to You.
        </p>
        <div class="flex gap-x-10 justify-center">
          <button
            class="bg-green-500 text-white py-4 px-2 md:px-8 rounded-lg shadow-lg hover:bg-green-700 hover:scale-105 hover:-translate-y-1 transform ease-in-out transition-all duration-300 "
            aria-label="Get a free quote"
          >
            Get a Free Quote
          </button>
          <button
            class="bg-white text-green-500 py-4 px-2 md:px-8  rounded-lg shadow-lg hover:bg-yellow-500 hover:scale-105 hover:-translate-y-1 transform ease-in-out hover:text-white transition-all duration-300"
            aria-label="See our services"
          >
            See our services
          </button>
        </div>
      </div>
      <div class="custom-shape-divider-bottom-1745167140">
        <svg class="max-h-[50px] md:h-[150px]" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
      </div>
    </section>

    <!-- Service Cards -->
    <section class="py-12 mx-8 bg-white">
      <div
        class="max-w-6xl flex flex-col lg:flex-row items-center justify-between mx-auto gap-5"
      >
        <div class="max-w-xl lg:w-1/2 py-6">
          <h2 class="text-3xl font-bold mb-4 text-green-700">
            Dedicated to Your Lawn's Success
          </h2>
          <p class="text-gray-700 leading-relaxed mb-4">
            Sunshine Landscaping Plus LLC is not just a business—it's my
            passion. As the sole owner and operator, I take pride in delivering
            personalized, high-quality service to every client. When you hire
            Sunshine Landscaping, you’re not just another customer; you’re a
            valued part of my community.
          </p>
          <p class="text-gray-700 leading-relaxed mb-4">
            With over 15 years of experience, I’ve built my reputation on
            reliability, attention to detail, and ensuring every yard I touch
            shines brighter.
          </p>
          <ul class="list-disc list-inside text-gray-700">
            <li>One-on-one, personalized service.</li>
            <li>A trusted expert with 15+ years of experience.</li>
            <li>Passionate about transforming outdoor spaces.</li>
          </ul>
        </div>
        <div class="my-auto">
          <img
            class="w-full max-w-[600px] lg:max-w-[500px] z-20"
            src="assets/about.jpg"
            class="w-full"
            alt="About Us"
          />
        </div>
      </div>
    </section>

    <!-- Services Section -->
    <section class="py-12 bg-green-100 px-12">
      <h2 class="text-4xl font-bold text-center mb-8">Our Services</h2>
      <div class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 place-items-center">
        <!-- Mowing -->
        <div
          class="w-full max-w-xs h-[280px] bg-white shadow-md rounded-lg p-6 flex flex-col items-center justify-center hover:shadow-lg hover:-translate-y-2 transition-all"
        >
        <div class="flex flex-col items-center text-center flex-grow justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 23 19" fill="none" class="mb-2">
            <path d="M11.9139 0.00495911H13.9139V5.00496H11.9139V0.00495911ZM21.9139 4.30496L20.5139 2.90496L16.9139 6.40496L18.3139 7.80496C18.3139 7.80496 21.8139 4.30496 21.9139 4.30496ZM10.7139 10.005L11.8139 12.005H16.9139L16.4139 11.105C16.1139 10.405 15.4139 10.005 14.6139 10.005H10.7139ZM19.9139 13.005H11.3139L4.51389 1.00496H0.913887V3.00496H3.31389L7.31389 10.105L2.21389 8.10496C2.01389 8.00496 1.61389 8.00496 1.31389 8.20496C1.11389 8.40496 0.913887 8.70496 0.913887 9.00496V16.005C0.913887 16.505 1.41389 17.005 1.91389 17.005H5.21389C5.81389 18.205 7.01389 19.005 8.41389 19.005C9.81389 19.005 11.0139 18.205 11.6139 17.005H17.1139C17.5139 18.205 18.6139 19.005 19.9139 19.005C21.6139 19.005 22.9139 17.705 22.9139 16.005C22.9139 14.305 21.6139 13.005 19.9139 13.005ZM4.91389 15.005H2.91389V10.505L7.21389 12.205C6.01389 12.605 5.11389 13.705 4.91389 15.005ZM8.41389 17.005C7.61389 17.005 6.91389 16.305 6.91389 15.505C6.91389 14.705 7.61389 14.005 8.41389 14.005C9.21389 14.005 9.91389 14.705 9.91389 15.505C9.91389 16.305 9.21389 17.005 8.41389 17.005ZM19.9139 17.005C19.4139 17.005 18.9139 16.505 18.9139 16.005C18.9139 15.505 19.4139 15.005 19.9139 15.005C20.4139 15.005 20.9139 15.505 20.9139 16.005C20.9139 16.505 20.4139 17.005 19.9139 17.005Z" fill="#16A34A"/>
          </svg> 
          <h3 class="text-lg font-bold min-h-[40px]">Lawn Care</h3>
          <p class="text-gray-600 text-center leading-relaxed min-h-[48px]">
            Custom mowing schedules tailored to your preferences.
          </p>
        </div>
        
          <a href="#" class="text-green-600 hover:underline">Learn More</a>
        </div>
        <!-- Tree Trimming -->
        <div
          class="w-full max-w-xs h-[280px] bg-white shadow-md rounded-lg p-6 flex flex-col items-center justify-center hover:shadow-lg hover:-translate-y-2 transition-all"
        >
        <div class="flex flex-col items-center text-center flex-grow justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 16 15" fill="none" class="mb-2">
            <path d="M12.4188 3.39875C12.3046 1.50475 10.6186 0 8.54981 0C7.31981 0 6.22556 0.533 5.51456 1.362C5.17009 1.26742 4.81452 1.21941 4.45731 1.21925C2.38856 1.21925 0.711556 2.7765 0.711556 4.69675C0.711556 5.3865 0.930556 6.02775 1.30356 6.5685C0.802556 7.184 0.501556 7.948 0.501556 8.779C0.501556 10.8078 2.27281 12.452 4.45756 12.452C5.40681 12.452 6.27256 12.136 6.95356 11.618C6.97006 11.7268 6.98531 11.838 7.00206 11.946C7.16456 13.007 7.30681 14.0263 7.23356 15L8.98356 14.9812C8.91231 13.894 8.63481 12.8768 8.35431 11.9145C8.82799 12.1497 9.34971 12.2719 9.87856 12.2718C11.6503 12.2718 13.0886 10.958 13.1323 9.32275C14.4991 8.9635 15.5016 7.799 15.5016 6.41525C15.5016 4.79925 14.1361 3.4835 12.4188 3.39875ZM12.9416 8.5975L12.3976 8.7405L12.3823 9.30275C12.3496 10.5265 11.2263 11.5218 9.87831 11.5218C9.16756 11.5218 8.49631 11.2455 8.01881 10.7645C7.82556 10.087 7.65156 9.4155 7.54081 8.736C7.94081 8.71675 8.33031 8.668 8.72106 8.596C9.26531 8.49375 9.79956 8.3405 10.3053 8.122C10.8103 7.9045 11.2861 7.62 11.6948 7.26375C12.1004 6.91272 12.4359 6.48808 12.6836 6.01225C12.4032 6.46213 12.0406 6.85522 11.6148 7.171C11.1911 7.487 10.7121 7.72525 10.2123 7.8975C9.71206 8.07025 9.19006 8.17875 8.66381 8.2375C8.26905 8.28193 7.87163 8.29823 7.47456 8.28625C7.36356 7.367 7.38456 6.433 7.58406 5.51425C7.80456 4.48775 8.23481 3.492 8.79956 2.56775C8.11506 3.4125 7.53931 4.35975 7.16256 5.4005C6.94381 6.00025 6.80081 6.629 6.72081 7.26725C6.53693 7.16501 6.35744 7.05508 6.18281 6.93775C5.8615 6.7224 5.56087 6.47768 5.28481 6.20675C4.73781 5.6675 4.30281 4.99025 4.17206 4.21875C4.21806 4.99925 4.58706 5.74825 5.09681 6.3665C5.35461 6.67815 5.64093 6.96506 5.95206 7.2235C6.18206 7.41475 6.41706 7.59225 6.67206 7.75675C6.64924 8.06319 6.64057 8.37051 6.64606 8.67775C6.65331 9.18975 6.69581 9.6975 6.75431 10.2C6.56859 10.1874 6.38355 10.1663 6.19981 10.1365C5.81626 10.0758 5.44063 9.97277 5.07981 9.82925C4.35856 9.54425 3.70756 9.0625 3.25731 8.4185C3.63456 9.1035 4.24756 9.6725 4.97181 10.0472C5.33623 10.2368 5.72048 10.3854 6.11756 10.4905C6.34606 10.5503 6.57456 10.5987 6.80856 10.6337C6.81356 10.6697 6.81931 10.7045 6.82431 10.7405C6.21531 11.3513 5.35781 11.7022 4.45806 11.7022C2.68981 11.7022 1.25156 10.3908 1.25156 8.779C1.25156 8.15175 1.47056 7.55125 1.88531 7.04225L2.24056 6.606L1.92106 6.14275C1.62056 5.707 1.46181 5.207 1.46181 4.69675C1.46181 3.19275 2.80581 1.96925 4.45756 1.96925C4.74506 1.96925 5.03431 2.0085 5.31731 2.0855L5.77531 2.2105L6.08406 1.85025C6.68356 1.151 7.58231 0.75 8.54981 0.75C10.2083 0.75 11.5788 1.93325 11.6701 3.44375L11.7103 4.1145L12.3818 4.14775C13.7106 4.2135 14.7516 5.20925 14.7516 6.41525C14.7516 7.42 14.0071 8.31725 12.9416 8.5975Z" fill="#16A34A"/>
          </svg>
          <h3 class="text-lg font-bold min-h-[40px]">Tree Trimming</h3>
          <p class="text-gray-600 text-center leading-relaxed min-h-[48px]">
            Keep your trees healthy and prevent safety hazards.
          </p>
        </div> 

          <a href="#" class="text-green-600 mt-4 hover:underline">Learn More</a>
        </div>
        <!-- Property Clean Up -->
        <div
          class="w-full max-w-xs h-[280px] bg-white shadow-md rounded-lg p-6 flex flex-col items-center justify-center hover:shadow-lg hover:-translate-y-2 transition-all"
        >
          <div class="flex flex-col items-center text-center flex-grow justify-center">
            <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="50" 
                height="45" 
                viewBox="0 0 24 28" 
                class="fill-green-600 mb-3">
                <path d="M20.262 24.33L21.0705 7.1975H22.242C22.7225 7.1975 23.1095 6.799 23.1095 6.3185C23.1095 5.838 22.7225 5.4275 22.242 5.4275H17.121V3.67C17.121 1.994 15.9845 0.904503 14.18 0.904503H9.79699C7.99199 0.904503 6.86699 1.9945 6.86699 3.6695V5.4275H1.76999C1.30149 5.4275 0.890991 5.8375 0.890991 6.3185C0.890991 6.7985 1.30099 7.1975 1.76999 7.1975H2.94199L3.74999 24.342C3.83199 26.0295 4.94499 27.0955 6.63299 27.0955H17.379C19.0545 27.0955 20.1795 26.0175 20.2615 24.3305M8.74199 3.787C8.74199 3.119 9.23449 2.6505 9.93749 2.6505H14.051C14.766 2.6505 15.258 3.119 15.258 3.787V5.4275H8.74199V3.787ZM6.80849 25.338C6.12849 25.338 5.62499 24.822 5.58999 24.143L4.76999 7.1975H19.195L18.422 24.1425C18.387 24.834 17.8945 25.3375 17.203 25.3375L6.80849 25.338ZM15.4805 23.2755C15.867 23.2755 16.1605 22.959 16.172 22.5135L16.5235 10.1385C16.535 9.6935 16.2305 9.365 15.832 9.365C15.469 9.365 15.164 9.705 15.152 10.127L14.801 22.5135C14.789 22.9355 15.082 23.2755 15.4805 23.2755ZM8.53149 23.2755C8.92999 23.2755 9.22249 22.9355 9.21099 22.5135L8.85949 10.127C8.84749 9.705 8.53149 9.365 8.16799 9.365C7.76949 9.365 7.47649 9.6935 7.48799 10.1385L7.85149 22.5135C7.86349 22.959 8.14449 23.2755 8.53149 23.2755ZM12.715 22.5135V10.127C12.715 9.705 12.3985 9.365 12.0115 9.365C11.625 9.365 11.2965 9.705 11.2965 10.127V22.5135C11.2965 22.9355 11.625 23.2755 12.0115 23.2755C12.3865 23.2755 12.715 22.9355 12.715 22.5135Z" fill="#16a34a"/>
            </svg>
            <h3 class="text-lg font-bold min-h-[40px]">Property Clean-Ups</h3>
            <p class="text-gray-600 text-center leading-relaxed min-h-[48px]">
              Remove debris & restore your property to its best condition.
            </p>
          </div>
          
          <a href="#" class="text-green-600 mt-4 hover:underline">Learn More</a>
        </div>
        <!-- Irrigation -->
        <div
          class="w-full max-w-xs h-[280px] bg-white shadow-md rounded-lg p-6 flex flex-col items-center justify-center hover:shadow-lg hover:-translate-y-2 transition-all"
          >
          <div class="flex flex-col items-center text-center flex-grow justify-center">
            <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="80" 
                height="50" 
                viewBox="0 0 20 10" 
                fill="none"
                class="fill-green-600 mb-2">
            <path d="M8.35 2.819C8.61379 3.19204 8.7786 3.62591 8.829 4.08C8.87193 4.54167 8.88562 5.0056 8.87 5.469V5.643C8.87 6.243 8.87 6.768 8.876 6.955C8.998 6.962 9.314 6.962 9.921 6.962H10.98L10.992 4.727H9.756L9.67 4.637C9.64601 4.61547 9.62654 4.58939 9.61272 4.56026C9.59891 4.53114 9.59103 4.49955 9.58954 4.46735C9.58805 4.43515 9.59298 4.40298 9.60405 4.3727C9.61512 4.34242 9.6321 4.31465 9.654 4.291L9.733 4.198L11.019 4.192L11.037 4.069C11.0843 3.59872 11.257 3.14976 11.537 2.769C11.7381 2.53305 11.8858 2.25639 11.97 1.958C11.995 1.804 11.991 1.778 11.824 1.612C11.4831 1.28112 11.0502 1.06085 10.582 0.980002C10.1403 0.926201 9.6937 0.926201 9.252 0.980002C8.91412 1.04379 8.59224 1.17397 8.305 1.363C8.14169 1.47405 7.99777 1.61122 7.879 1.769C7.86545 1.90329 7.88609 2.03883 7.939 2.163C8.04979 2.39704 8.18774 2.61722 8.35 2.819ZM11.089 1.919C11.208 2.056 11.105 2.277 10.94 2.239C10.9061 2.22084 10.8775 2.19411 10.8572 2.16148C10.8368 2.12884 10.8254 2.09144 10.824 2.053C10.824 1.9 11 1.818 11.089 1.924V1.919ZM9.82 1.928C9.936 1.791 10.138 1.928 10.085 2.115C10.0746 2.15417 10.0494 2.18776 10.0147 2.20867C9.97997 2.22957 9.93848 2.23615 9.899 2.227H9.875C9.85 2.21316 9.82837 2.19397 9.81165 2.17079C9.79493 2.14762 9.78353 2.12104 9.77828 2.09295C9.77302 2.06486 9.77404 2.03596 9.78125 2.00831C9.78847 1.98066 9.8017 1.95494 9.82 1.933V1.928ZM8.768 1.928C8.78006 1.91089 8.79586 1.89674 8.81419 1.88664C8.83252 1.87653 8.85292 1.87073 8.87383 1.86967C8.89473 1.86861 8.91561 1.87232 8.93487 1.88052C8.95413 1.88872 8.97128 1.9012 8.985 1.917C9.0082 1.94236 9.02409 1.97354 9.03097 2.00721C9.03786 2.04089 9.03548 2.0758 9.02409 2.10822C9.01269 2.14065 8.99272 2.16938 8.96629 2.19136C8.93986 2.21333 8.90797 2.22772 8.874 2.233C8.85201 2.23595 8.82964 2.23218 8.80983 2.22219C8.79002 2.21219 8.7737 2.19644 8.763 2.177C8.73505 2.14222 8.72023 2.09871 8.72115 2.05409C8.72206 2.00948 8.73865 1.96661 8.768 1.933V1.928ZM11.186 8.225H12.248V7.291C12.066 7.281 11.459 7.281 9.923 7.281C8.387 7.281 7.782 7.281 7.601 7.292C7.594 7.405 7.594 7.692 7.594 8.226V9.087H12.255V8.851H9.913L9.813 8.733C9.78152 8.70157 9.7583 8.66285 9.74539 8.62029C9.73248 8.57772 9.73028 8.53262 9.739 8.489C9.75063 8.42443 9.77967 8.36426 9.823 8.315C9.915 8.225 9.915 8.225 11.186 8.225ZM9.219 8.736L9.132 8.836H8.305L8.212 8.727C8.16619 8.67634 8.13905 8.61156 8.13505 8.54337C8.13105 8.47519 8.15043 8.40768 8.19 8.352L8.272 8.233H9.145L9.23 8.333C9.28079 8.38849 9.30804 8.46153 9.30598 8.53673C9.30393 8.61192 9.27274 8.68337 9.219 8.736ZM19.99 9.5L19.98 9.476C19.9752 9.45804 19.9655 9.44176 19.952 9.429L19.943 9.415H19.908C19.895 9.415 19.885 9.4 19.871 9.4H18.311V8.053L18.404 7.953C18.7493 7.56106 19.1486 7.22031 19.59 6.941C19.81 6.804 19.858 6.754 19.839 6.67C19.6867 6.43389 19.4863 6.23251 19.251 6.079C19.1138 5.98471 18.9515 5.93384 18.785 5.933C18.6555 5.95925 18.536 6.02165 18.4404 6.11296C18.3449 6.20428 18.2771 6.32078 18.245 6.449C18.2251 6.49766 18.209 6.54782 18.197 6.599C18.197 6.614 18.189 6.636 18.181 6.636C18.173 6.636 18.165 6.617 18.165 6.605C18.1177 6.43519 18.0427 6.27436 17.943 6.129C17.8529 6.02018 17.7284 5.94539 17.59 5.917C17.3987 5.93917 17.2143 6.00171 17.049 6.10049C16.8836 6.19927 16.7412 6.33204 16.631 6.49C16.539 6.596 16.515 6.633 16.515 6.677C16.515 6.761 16.555 6.801 16.753 6.916C17.1802 7.18147 17.5674 7.5064 17.903 7.881L18.049 8.04V8.718L18.043 9.394H14.38V8.066L14.512 7.92C14.8463 7.55458 15.2277 7.23513 15.646 6.97C15.887 6.824 15.9 6.815 15.9 6.721C15.9 6.659 15.887 6.637 15.789 6.528C15.6848 6.37734 15.5515 6.24909 15.3969 6.15084C15.2424 6.05259 15.0696 5.98634 14.889 5.956C14.8047 5.94625 14.7198 5.96836 14.651 6.018C14.481 6.111 14.375 6.267 14.251 6.609L14.236 6.656L14.222 6.609C14.2017 6.54349 14.178 6.47908 14.151 6.416C14.1182 6.30519 14.0569 6.20493 13.9732 6.12526C13.8895 6.04559 13.7863 5.98929 13.674 5.962C13.417 5.909 13.059 6.108 12.694 6.513C12.516 6.713 12.527 6.784 12.757 6.913C13.2047 7.18708 13.6108 7.52383 13.963 7.913L14.1 8.069V9.392H12.512V9.386H7.3L6.521 9.392H5.721V8.032L5.864 7.879C6.20541 7.49965 6.59981 7.17159 7.035 6.905C7.235 6.79 7.26 6.759 7.26 6.665C7.26 6.553 6.868 6.165 6.603 6.021C6.4869 5.93218 6.34039 5.89285 6.19541 5.91158C6.05043 5.93031 5.91872 6.00559 5.829 6.121C5.73238 6.26012 5.65846 6.4137 5.61 6.576C5.61 6.638 5.583 6.595 5.546 6.483C5.51705 6.37023 5.46575 6.26441 5.39515 6.17183C5.32456 6.07924 5.23609 6.00177 5.135 5.944C4.9965 5.90103 4.84761 5.9056 4.712 5.957C4.46313 6.07698 4.24181 6.24723 4.062 6.457C3.869 6.657 3.88 6.731 4.126 6.88C4.58886 7.16738 5.00813 7.51963 5.371 7.926L5.464 8.026V9.383H3.627L1.788 9.377V8.732C1.77894 8.50061 1.78328 8.26889 1.801 8.038C2.17036 7.581 2.61592 7.19126 3.118 6.886C3.306 6.774 3.318 6.756 3.318 6.662C3.318 6.597 3.304 6.578 3.225 6.485C2.741 5.951 2.34367 5.78433 2.033 5.985C1.89319 6.09432 1.78881 6.24253 1.733 6.411L1.659 6.598L1.611 6.458C1.56062 6.30904 1.48146 6.17143 1.378 6.053C1.071 5.753 0.620004 5.904 0.0960038 6.489C0.0140038 6.579 0.0030039 6.598 0.0030039 6.666C0.0030039 6.766 0.0190038 6.775 0.215004 6.9C0.670769 7.18662 1.08441 7.5353 1.444 7.936L1.524 8.02V9.39H0.129004C0.111932 9.39013 0.0950528 9.39363 0.0793305 9.40028C0.0636082 9.40693 0.0493506 9.41662 0.0373717 9.42878C0.0253928 9.44095 0.0159274 9.45535 0.00951582 9.47118C0.00310422 9.487 -0.000127952 9.50393 3.87594e-06 9.521V9.594C0.000265436 9.62813 0.0139405 9.66079 0.0380762 9.68493C0.0622119 9.70906 0.0948718 9.72274 0.129004 9.723H19.871C19.9051 9.72274 19.9378 9.70906 19.9619 9.68493C19.9861 9.66079 19.9997 9.62813 20 9.594V9.521C20 9.511 19.992 9.505 19.99 9.5ZM17.3 4.057C17.44 4.231 17.48 4.262 17.52 4.262C17.5484 4.26454 17.5768 4.25688 17.6001 4.24039C17.6233 4.22389 17.64 4.19965 17.647 4.172C17.6599 4.13785 17.6599 4.10016 17.647 4.066C17.5502 3.90737 17.4295 3.76468 17.289 3.643C17.21 3.624 17.13 3.702 17.13 3.798C17.13 3.842 17.16 3.892 17.3 4.06V4.057ZM18.118 5.42C18.1423 5.43254 18.17 5.43709 18.197 5.433C18.227 5.42033 18.2533 5.40015 18.2732 5.37441C18.2932 5.34867 18.3062 5.31822 18.311 5.286C18.2819 5.1632 18.2337 5.04576 18.168 4.938C18.094 4.866 17.953 4.944 17.953 5.053C17.9806 5.18534 18.0377 5.30975 18.12 5.417L18.118 5.42ZM14.041 3.742C14.041 3.677 14.003 3.63 13.85 3.496C13.664 3.331 13.611 3.307 13.55 3.341C13.5199 3.36067 13.4968 3.38936 13.4841 3.42295C13.4713 3.45655 13.4696 3.49333 13.479 3.528C13.5938 3.66031 13.7233 3.77908 13.865 3.882C13.927 3.92 14.041 3.83 14.041 3.742ZM16.253 3.132C16.3207 3.18282 16.3947 3.22482 16.473 3.257C16.5033 3.25095 16.531 3.2357 16.5523 3.21333C16.5736 3.19096 16.5875 3.16255 16.592 3.132C16.608 3.032 16.571 2.986 16.369 2.849C16.2958 2.79576 16.2158 2.7527 16.131 2.721C16.031 2.721 15.969 2.877 16.036 2.964C16.1031 3.02651 16.1757 3.08275 16.253 3.132ZM14.647 4.969C14.6624 5.00447 14.6819 5.03802 14.705 5.069C14.7166 5.08058 14.7305 5.08966 14.7458 5.09566C14.7611 5.10167 14.7774 5.10448 14.7938 5.10391C14.8102 5.10335 14.8263 5.09943 14.8411 5.09239C14.856 5.08536 14.8692 5.07535 14.88 5.063C14.902 5.02316 14.9127 4.97808 14.9109 4.93261C14.9091 4.88715 14.895 4.84303 14.87 4.805C14.8109 4.67282 14.736 4.54825 14.647 4.434C14.6224 4.42225 14.5946 4.41922 14.568 4.4254C14.5415 4.43158 14.5179 4.4466 14.501 4.468C14.441 4.537 14.448 4.605 14.541 4.768C14.5783 4.83267 14.6137 4.89967 14.647 4.969ZM15.029 2.46V2.466C15.1089 2.50508 15.1936 2.53333 15.281 2.55C15.31 2.53482 15.3348 2.51274 15.3533 2.48572C15.3718 2.45869 15.3834 2.42754 15.387 2.395C15.3844 2.36148 15.3734 2.32915 15.355 2.301C15.21 2.20614 15.052 2.13271 14.886 2.083C14.8588 2.08826 14.8337 2.10148 14.814 2.121C14.7985 2.13494 14.7867 2.15239 14.7794 2.17188C14.772 2.19137 14.7695 2.21233 14.772 2.233C14.7732 2.26729 14.7803 2.30111 14.793 2.333C14.8656 2.38573 14.945 2.42845 15.029 2.46ZM13.731 2.012L13.757 1.984C13.969 2.04 13.998 2.043 14.048 1.996C14.0773 1.96609 14.0937 1.92588 14.0937 1.884C14.0937 1.84212 14.0773 1.80191 14.048 1.772C13.9097 1.70235 13.76 1.65799 13.606 1.641C13.535 1.632 13.519 1.635 13.482 1.682C13.4602 1.7048 13.4462 1.73389 13.4419 1.76512C13.4376 1.79636 13.4432 1.82816 13.458 1.856C13.479 1.918 13.516 1.949 13.731 2.012ZM1.82 5.252C1.91 5.04 1.881 4.91 1.748 4.91C1.677 4.91 1.674 4.916 1.595 5.084C1.516 5.252 1.515 5.37 1.608 5.417C1.701 5.464 1.746 5.429 1.82 5.252ZM6.088 3.409C5.99429 3.48212 5.90728 3.56344 5.828 3.652C5.80794 3.68992 5.80175 3.73366 5.81051 3.77566C5.81928 3.81766 5.84244 3.85527 5.876 3.882C5.937 3.91 5.976 3.895 6.159 3.739C6.379 3.552 6.411 3.49 6.339 3.378C6.286 3.3 6.207 3.313 6.088 3.409ZM2.31 4.265C2.36 4.265 2.384 4.243 2.538 4.065C2.692 3.887 2.707 3.865 2.707 3.801C2.707 3.71 2.657 3.648 2.583 3.648C2.535 3.648 2.506 3.67 2.419 3.766C2.183 4.028 2.146 4.109 2.219 4.214C2.227 4.2309 2.24005 4.24489 2.25636 4.25403C2.27267 4.26317 2.29142 4.267 2.31 4.265ZM4.957 5.056C4.96816 5.07014 4.98248 5.08146 4.99881 5.08906C5.01514 5.09665 5.03302 5.1003 5.05102 5.09972C5.06902 5.09913 5.08663 5.09433 5.10243 5.08569C5.11824 5.07706 5.13179 5.06483 5.142 5.05C5.24034 4.8977 5.32309 4.73589 5.389 4.567C5.38338 4.53414 5.36963 4.5032 5.349 4.477C5.256 4.349 5.164 4.418 5.005 4.729C4.9 4.919 4.9 4.984 4.957 5.056ZM5.794 2.015C5.81445 2.03874 5.84227 2.05494 5.873 2.061C6.03889 2.03594 6.20045 1.9878 6.353 1.918C6.37521 1.88731 6.38716 1.85039 6.38716 1.8125C6.38716 1.77462 6.37521 1.7377 6.353 1.707C6.305 1.647 6.247 1.647 6.008 1.719C5.865 1.756 5.808 1.781 5.786 1.812C5.76629 1.84211 5.75663 1.87769 5.75843 1.91363C5.76023 1.94957 5.77338 1.98401 5.796 2.012L5.794 2.015ZM3.277 3.21C3.29747 3.23386 3.32589 3.24949 3.357 3.254C3.50067 3.18889 3.63516 3.10517 3.757 3.005C3.77797 2.99208 3.79483 2.97348 3.80563 2.95135C3.81643 2.92922 3.82072 2.90448 3.818 2.88C3.818 2.818 3.81 2.796 3.77 2.765C3.74611 2.74359 3.71664 2.72937 3.685 2.724C3.53347 2.79547 3.39411 2.89029 3.272 3.005C3.24872 3.03409 3.23603 3.07024 3.23603 3.1075C3.23603 3.14476 3.24872 3.18091 3.272 3.21H3.277ZM7.179 1.725C7.19912 1.73488 7.22076 1.7413 7.243 1.744C7.31547 1.72824 7.38901 1.71788 7.463 1.713C7.54172 1.70777 7.61922 1.69092 7.693 1.663C7.71008 1.64621 7.72335 1.62594 7.7319 1.60357C7.74045 1.5812 7.74409 1.55725 7.74258 1.53335C7.74106 1.50944 7.73442 1.48615 7.7231 1.46504C7.71179 1.44393 7.69607 1.4255 7.677 1.411C7.64 1.386 7.606 1.386 7.42 1.411C7.187 1.439 7.134 1.461 7.108 1.551C7.09924 1.58525 7.10137 1.62137 7.11409 1.65435C7.12682 1.68733 7.14951 1.71552 7.179 1.735V1.725ZM12.141 1.666C12.2196 1.68651 12.2995 1.70221 12.38 1.713V1.719C12.4571 1.73188 12.5349 1.74023 12.613 1.744C12.6239 1.74005 12.6354 1.73802 12.647 1.738C12.682 1.738 12.727 1.66 12.727 1.598C12.727 1.482 12.692 1.451 12.502 1.42C12.312 1.389 12.186 1.386 12.149 1.42C12.1221 1.44202 12.1026 1.47175 12.0931 1.50518C12.0837 1.53862 12.0847 1.57415 12.096 1.607C12.1 1.635 12.125 1.666 12.141 1.666ZM12.279 2.843C12.3424 2.89748 12.4139 2.94168 12.491 2.974C12.697 3.074 12.772 3.083 12.825 3.027C12.8455 2.9979 12.857 2.96336 12.8578 2.92776C12.8587 2.89216 12.849 2.85709 12.83 2.827C12.7005 2.73625 12.5596 2.66295 12.411 2.609C12.3822 2.6048 12.3529 2.6094 12.3268 2.62221C12.3007 2.63501 12.279 2.65542 12.2648 2.68074C12.2505 2.70606 12.2442 2.73511 12.2467 2.76408C12.2493 2.79304 12.2605 2.82055 12.279 2.843ZM7.06 3.067V3.042C7.1 3.058 7.148 3.042 7.37 2.942C7.542 2.868 7.59 2.818 7.59 2.742C7.59 2.666 7.572 2.624 7.519 2.605C7.466 2.586 7.381 2.605 7.161 2.73C7.013 2.807 6.976 2.848 6.976 2.93C6.97844 2.95778 6.98729 2.98462 7.00187 3.0084C7.01644 3.03217 7.03635 3.05223 7.06 3.067ZM4.586 2.553L4.8 2.46C5.067 2.348 5.11 2.298 5.057 2.167C5.04678 2.14413 5.03099 2.12419 5.01107 2.109C4.99116 2.0938 4.96776 2.08383 4.943 2.08C4.78701 2.13228 4.63634 2.19925 4.493 2.28C4.47822 2.29866 4.46752 2.32022 4.4616 2.34327C4.45568 2.36633 4.45466 2.39037 4.45862 2.41384C4.46258 2.43732 4.47143 2.4597 4.48458 2.47953C4.49774 2.49937 4.51492 2.51622 4.535 2.529L4.586 2.553Z" fill="#16A34A"/>
            </svg>
            <h3 class="text-lg font-bold min-h-[40px]">Irrigation</h3>
            <p class="text-gray-600 text-center leading-relaxed min-h-[48px]">
              Make your yard greener and healthier than ever.
            </p>
          </div>
          <a href="#" class="text-green-600 mt-4 hover:underline">Learn More</a>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="py-20 mx-10">
      <div
        class="mx-auto max-w-5xl flex flex-col lg:flex-row justify-between items-center gap-20"
      >
        <div class="w-full max-w-[600px] lg:max-w-[400px]">
          <img src="assets/about.jpg" class="w-full" alt="About Us" />
        </div>
        <div class="max-w-lg">
          <h2 class="text-4xl font-bold mb-4 pl-2 border-l-8 border-green-600">
            How We Got Started
          </h2>
          <p class="text-lg text-gray-700">
            Sunshine Landscaping Plus LLC is a family-run business proudly
            serving Tampa Bay since 2008. We treat every customer like family,
            providing the best lawn care solutions to meet your unique needs.
          </p>
          <ul class="list-disc mt-4 ml-5 text-gray-700 text-lg">
            <li>15+ years of experience.</li>
            <li>Custom lawn care, tree trimming, and property clean-ups.</li>
            <li>Dedicated to reliability and excellence.</li>
          </ul>
          <a
            href="/about"
            class="max-w-72 flex items-center py-2 px-5 justify-center mt-6 text-white font-semibold hover:bg-green-800 bg-green-700 rounded-lg duration-100 ease-in-out transition-all text-left"
            >Learn more about our journey and values.</a
          >
        </div>
      </div>
    </section>

    <!-- Why Choose Us Section -->
    <section
      class="flex flex-col justify-center items-center py-20 bg-slate-100"
    >
      <h2 class="flex text-4xl font-bold mb-6 text-center">
        Why Choose Sunshine Landscaping?
      </h2>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 max-w-5xl"
      >
        <div class="flex flex-col items-center mt-4">
          <svg
            class="fill-green-600 hover:fill-yellow-600 hover:scale-125 h-12 w-12 transition-all duration-300"
            width="48"
            height="48"
            viewBox="0 0 19 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.456 1.32V0.323999H2.712V9H1.608V1.32H0.456ZM10.1198 1.272H5.90775V4.008C6.09175 3.752 6.36375 3.544 6.72375 3.384C7.08375 3.216 7.47175 3.132 7.88775 3.132C8.55175 3.132 9.09175 3.272 9.50775 3.552C9.92375 3.824 10.2198 4.18 10.3958 4.62C10.5798 5.052 10.6718 5.512 10.6718 6C10.6718 6.576 10.5638 7.092 10.3478 7.548C10.1318 8.004 9.79975 8.364 9.35175 8.628C8.91175 8.892 8.36375 9.024 7.70775 9.024C6.86775 9.024 6.18775 8.808 5.66775 8.376C5.14775 7.944 4.83175 7.368 4.71975 6.648H5.78775C5.89175 7.104 6.11175 7.46 6.44775 7.716C6.78375 7.972 7.20775 8.1 7.71975 8.1C8.35175 8.1 8.82775 7.912 9.14775 7.536C9.46775 7.152 9.62775 6.648 9.62775 6.024C9.62775 5.4 9.46775 4.92 9.14775 4.584C8.82775 4.24 8.35575 4.068 7.73175 4.068C7.30775 4.068 6.93575 4.172 6.61575 4.38C6.30375 4.58 6.07575 4.856 5.93175 5.208H4.89975V0.312H10.1198V1.272ZM18.5429 5.076H15.9869V7.668H14.9669V5.076H12.4229V4.152H14.9669V1.548H15.9869V4.152H18.5429V5.076Z"
            ></path>
          </svg>
          <p class="text-center text-gray-700">15+ years of experience.</p>
        </div>
        <div class="flex flex-col items-center mt-4">
          <i
            class="fa-regular fa-pen-to-square text-green-600 hover:text-yellow-600 hover:scale-125 h-12 w-12 transition-all duration-300 text-3xl text-center"
          ></i>
          <p class="text-center text-gray-700">
            Customizable lawn care solutions.
          </p>
        </div>
        <div class="flex flex-col items-center mt-4">
          <i
            class="fa-regular fa-clock text-green-600 hover:text-yellow-600 hover:scale-125 h-12 w-12 transition-all duration-300 text-3xl text-center"
          ></i>
          <p class="text-center text-gray-700">Reliable and on-time service.</p>
        </div>
        <div class="flex flex-col items-center mt-4">
          <img
            class="hover:scale-125 h-12 w-12 transition-all duration-300"
            src="assets/map.png"
            onmouseover="this.src='assets/map-hover.png'"
            onmouseout="this.src='assets/map.png'"
            alt="Map of the state of Tampa Bay"
          />
          <p class="text-center text-gray-700">Serving Tampa Bay and beyond.</p>
        </div>
      </div>
    </section>

    <!-- Service Area Section -->
    <section class="mt-12 mx-8 flex justify-center items-center">
      <div
        class="max-w-5xl flex flex-col md:flex-row items-center justify-between w-full h-96"
      >
        <div class="max-w-lg mb-4 md:inline md:mr-10">
          <div class="flex flex-col">
            <h2
              class="text-4xl font-bold mb-2 md:mb-4 pl-2 border-l-8 border-green-600"
            >
              Areas We Serve
            </h2>
            <p class="ml-4">
              Sunshine Landscaping Plus LLC Serves the majority of the <bold
                >Tampa Bay Area</bold
              > including:
            </p>
            <br class="hidden md:inline" />
          </div>
          <div class="flex mt-2 md:flex-col">
            <h3 class="hidden md:inline text-3xl ml-4">Locations:</h3>
            <br class="hidden md:inline" />
            <ul
              class="flex flex-wrap gap-x-4 md:flex-col md:gap-y-1 font-semibold ml-4"
            >
              <li class="">Lutz</li>
              <li class="">Wesley Chapel</li>
              <li class="">West Chase</li>
              <li class="">South Tampa</li>
              <li class="">Oldsmar</li>
            </ul>
          </div>
        </div>
        <iframe
          class="max-w-[456px] w-full h-full border-0"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d213356.33870452505!2d-82.83178661254499!3d27.968056820723116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2b70b022e8d7d%3A0x5b9d1f4c8eeb8850!2sTampa%20Bay%2C%20Florida!5e0!3m2!1sen!2sus!4v1682125123083!5m2!1sen!2sus&z=8"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section>

    <!-- Stats section -->
    <section class="py-12 mt-12 bg-slate-100">
      <h2 class="text-4xl font-bold text-center mb-8">Our Achievements</h2>
      <div
        class="grid grid-cols-1 sm:grid-cols-3 gap-6 text-center max-w-7xl mx-auto"
      >
        <div>
          <h3 class="text-5xl font-bold text-green-600">125+</h3>
          <p>Satisfied Clients</p>
        </div>
        <div>
          <h3 class="text-5xl font-bold text-green-600">3+</h3>
          <p>Expert Team Members</p>
        </div>
        <div>
          <h3 class="text-5xl font-bold text-green-600">85+</h3>
          <p>Permanent Clients</p>
        </div>
      </div>
    </section>

    <!-- Testimonial Section -->
    <section class="py-12 shadow-lg px-8">
      <h2 class="text-4xl font-bold text-center mb-8">
        What Our Customers Say
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-7xl mx-auto">
        <div class="bg-white p-6 rounded-lg shadow-md">
          <p class="italic">
            "Sunshine Landscaping transformed my yard into a beautiful oasis!"
          </p>
          <p class="mt-4 font-bold">– Sarah W.</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md">
          <p class="italic">
            "Amazing service! My lawn has never looked better."
          </p>
          <p class="mt-4 font-bold">– Mike D.</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md">
          <p class="italic">
            "Highly recommend Sunshine Landscaping for any lawn care needs."
          </p>
          <p class="mt-4 font-bold">– Karen L.</p>
        </div>
      </div>
    </section> 

    <!-- CTA Section -->
    <section class="bg-green-100 w-full py-12 px-8">
      <div class="flex flex-col justify-center items-center text-center">
        <h3 class="text-3xl font-bold mb-6">Transform Your Lawn Today!</h3>
        <p class="text-lg mb-6 max-w-3xl">
          Let us bring life and beauty to your outdoor spaces. Whether it's lawn
          care, tree trimming, or property clean-ups, we've got you covered.
        </p>
        <blockquote class="italic mb-6">
          "Sunshine Landscaping transformed my yard into a beautiful oasis.
          Highly recommend their services!" – Happy Customer
        </blockquote>
        <button
          class="bg-white text-green-700 font-semibold py-3 px-8 rounded-lg shadow-md hover:bg-green-700 hover:text-white transition-all duration-300"
          >Get a Free Quote</button
        >
      </div>
    </section>
  </main>
  <Footer />
</Layout>


<style>
  .custom-shape-divider-bottom-1745167140 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1745167140 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 142px;
}

.custom-shape-divider-bottom-1745167140 .shape-fill {
    fill: white;
}
</style>