---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Banner from "../components/Banner.astro";
---

<Layout>
  <Navigation />
    <Banner 
      breadCrumb="Projects"
      pageTitle="Explore our work"
      description="Take a look at some of the recent landscaping projects we've completed in the Tampa Bay Area"
      src="../assets/projects/projectbanner.png"
      alt="alt"
      textColor="text-white"
    />
    <main class="">
      <!-- Container for project images -->
      <div class="flex flex-wrap justify-center gap-x-10 lg:max-w-[1440px] mx-auto mt-4 p-1">

        <Projects
          src="../assets/projects/after/after-1.png"
          hoverSrc="../assets/projects/before/before-1.png"
          alt="description of image"
          caption="Image of project 1"
          blurb="this is a test to see what we should and this was the test "
        />
        <Projects
          src="../assets/projects/after/after-2.png"
          hoverSrc="../assets/projects/before/before-2.png"
          alt="description of image"
          caption="Image of project 2"
          blurb="this is a test to see what we should and this is a slightly longer test to view the height "
        />
        <Projects
          src="../assets/projects/after/after-3.png"
          hoverSrc="../assets/projects/before/before-3.png"
          alt="description of image"
          caption="Image of project 3"
          blurb="this is a test to see what we should and yes"
        />
        <Projects
          src="../assets/projects/after/after-4.png"
          hoverSrc="../assets/projects/before/before-4.png"
          alt="description of image"
          caption="Image of project 1"
          blurb="this is a test to see what we should and this was the test "
        />
        <Projects
          src="../assets/projects/after/after-5.png"
          hoverSrc="../assets/projects/before/before-5.png"
          alt="description of image"
          caption="Image of project 2"
          blurb="this is a test to see what we should and this is a slightly longer test to view the height "
        />
        <Projects
          src="../assets/projects/after/after-6.png"
          hoverSrc="../assets/projects/before/before-6.png"
          alt="description of image"
          caption="Image of project 3"
          blurb="this is a test to see what we should and yes"
        />

      </div>
    </main>
    <Footer />
</Layout>
