<footer class="bg-gray-900 text-white py-6">
	<div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center">
		<p>&copy; 2025 Sunshine Landscaping Plus LLC. All rights reserved.</p>
		<div class="flex gap-4 mt-4 md:mt-0">
			<a href="#" class="hover:text-green-400">
				<i class="fa-brands fa-instagram text-3xl"></i>
			</a>
			<a href="#" class="hover:text-green-400">
				<i class="fa-brands fa-google text-2xl"></i>
			</a>
			<a href="#" class="hover:text-green-400">
				<i class="fa-brands fa-facebook text-2xl"></i>
			</a>
		</div>
	</div>
</footer>
