<nav class="sticky top-0 inset-0 w-full bg-white shadow-md z-50 py-5">
    
    <div class="flex relative items-center justify-between w-full max-w-7xl mx-auto px-6">


        <div class="absolute left-0">
            <span class="font-bold text-lg">Logo</span>
        </div>
        
        <!-- Centered navigation links -->
        <div class="mx-auto flex-grow flex justify-center items-center gap-10">
          <a class="font-bold cursor-pointer hover:text-pink-400 transition-all duration-300">Home</a>
          <a class="cursor-pointer hover:text-pink-400 transition-all duration-300">About</a>
          <a href="/projects" class="cursor-pointer hover:text-pink-400 transition-all duration-300">Projects</a>
          <a class="cursor-pointer hover:text-pink-400 transition-all duration-300">Contact Us</a>
        </div>

        <div class="absolute right-0">
            <span class="font-bold text-lg">Call: (123) 456-7890</span>
        </div>
        
      </div>

</nav>