<nav class="mt-5 relative">
    
    <div class="">

        <span class="absolute left-10">logo</span>
    
        <div class="flex justify-center items-center gap-10">
            <div class="font-bold cursor-pointer hover:text-pink-400 transition-all duration-300">
                home
            </div>
            <div class="">
                about
            </div>
            <div>
                projects
            </div>
            <div>
                contact us
            </div>
        </div>
        
    </div>

</nav>