<nav class="mt-5 relative">
    
    <div class="">

        <span class="absolute left-10">logo</span>
    
        <div class="flex justify-center items-center gap-10">
            <a class="font-bold cursor-pointer hover:text-pink-400 transition-all duration-300">
                home
            </a>
            <a class="">
                about
            </a>
            <a href="/projects">
                projects
            </a>
            <a>
                contact us
            </a>
        </div>
        
    </div>

</nav>